@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #151524;
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #cacaca;
}

.btn-blue {
    color: #cacaca;
    background-color: #001f3d;
    border-color: #00284f;
}

.btn-blue:hover {
    color: #cacaca;
    opacity: 0.8;
}

.text-primary {
    color: #cacaca!important;
}

.text-secondary,
.text-secondary a{
    color: #9896b4!important;
}

.bg-main {
    background-color: #1e1e2d;
    border: 1px solid #2b2b40;
}

#ending-screen {
    background-color:#00000000;
}

/* Title */

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

/* form */

.form-control {
    box-shadow: none!important;
}

.form-control, .form-control.active, .form-control.focus, .form-control:active, .form-control:focus {
    background-color: #171723;
    border-color: #171723;
    color: #92929f;
    transition: color .2s ease,background-color .2s ease;
}

/*
.result-box {

}
*/

.alert-url {
    padding: 0.5rem!important;
    margin-bottom: 0rem!important;
}

.text-small {
    font-size: 0.7rem;
}

.alert-danger {
    background-color: #f25f4c33!important;
    color: #f25f4c!important;
    border: 1px solid #f25f4c20!important;
}

.footer a{
    color: #cacaca;
}

kbd {
    border: 1px solid #9896b4;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #171723;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 100px;
}